<form action="">
    <input type="number" [formControl]="id_user">
    <small *ngIf="id_user.hasError('required') && id_user.dirty">El campo es requerido</small>
    <a routerLink="/tareas"><button type="button" (click)="getUser($event)" [disabled]="id_user.invalid">Enviar</button>
    </a>
</form>

<!-- <div class="container" >
 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Sesion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of ListarUsuarios">
            <th>{{equipo.id_user}}</th>
            <th>{{equipo.sesion}}</th>
          </tr>
        </tbody>
      </table>
</div> -->

