<div id="carousel">
    <!-- <div class="item">==></div> ESTE SE MUESTRA SEGUN SI ESTA EN CEL O NO-->
    <!-- <div class="html item" *ngFor="let item of lista | keyvalue; let indice=index">
        <b>{{item.key}}</b> and Value: <b>{{item.key}}</b>
    </div> -->

    <!-- CADA INFO TIENE UNA IMAGEN, UNA DESCRIPCION Y UN ID -->
    <div class="item"><img src="../../../assets/img/angular-icon.svg" alt="Angular" class="angular"/></div>
    <div class="item"><img src="../../../assets/img/css.svg" alt="Css"/></div>
    <div class="item"><img src="../../../assets/img/logo-javascript.svg" alt="Js"/></div>
    <div class="item"><img src="../../../assets/img/php.svg" alt="Php"/></div>
    <div class="item"><img src="../../../assets/img/mysql.svg" alt="MySql"/></div>
    <!-- <div class="item">🥝</div>
    <div class="item">🍑</div>
    <div class="item">🥦</div>
    <div class="item">🍓</div>
    <div class="item">🥕</div>
    <div class="item">🍅</div> -->
</div>